<button routerLink='/'>Powrót</button>
<h1>Edytuj czytelnika </h1>
<form id="formEdycjaCzytelnik" name="formEdycjaCzytelnik" #daneCzytelnika="ngForm"
  (ngSubmit)="edytujCzytelnika(daneCzytelnika.value)"> 
  <input type="text" name="imie" placeholder="imie" value="{{czytelnik.imie}}" ngModel><br> 
  <input type="text" name="nazwisko" placeholder="nazwisko" value="{{czytelnik.nazwisko}}" ngModel><br> 
  <input type="text" name="klasa" placeholder="klasa" value="{{czytelnik.klasa}}" ngModel><br> 
  <br> 
  <button type="submit">Edytuj</button> 
</form> 
<br>
<h2 *ngIf="zostalDodany">{{potwierdzenieDodania}}</h2>
