<button routerLink='/'>Powrót</button>
<h1>Dodaj nowego czytelnika </h1>
<form id="formNowyCzytelnik" name="formNowyCzytelnik" #daneCzytelnika="ngForm"
  (ngSubmit)="dodajNowegoCzytelnika(daneCzytelnika.value)"> <input type="text" name="imie" placeholder="imie"
    ngModel><br> <input type="text" name="nazwisko" placeholder="nazwisko" ngModel><br> <input type="text" name="klasa"
    placeholder="klasa" ngModel><br> <br> <button type="submit">Dodaj</button> </form> <br>
<h2 *ngIf="zostalDodany">{{potwierdzenieDodania}}</h2>
