<button routerLink='/czytelnik'>Dodaj czytelnika</button>
<h1>Czytelnicy</h1>
<table>
  <th>ID</th>
  <th>Imie</th>
  <th>Nazwisko</th>
  <th>Klasa</th>
  <th>Uwagi</th>
  <th></th>
  <tr *ngFor="let czytelnik of czytelnicy">
    <td>{{czytelnik.id}}</td>
    <td>{{czytelnik.imie}}</td>
    <td>{{czytelnik.nazwisko}}</td>
    <td>{{czytelnik.klasa}}</td>
    <td>{{czytelnik.uwagi}}</td>
    <td><button routerLink='/edycja/{{czytelnik.id}}'>Edytuj</button></td>
    <td (click)="usunCzytelnika(czytelnik.id)"><a>Usuń</a></td>
  </tr>
</table>
