table, th, td { 
    border: 2px solid black; 
    font-size: 30px; 
    padding: 10px; 
}
 from, label, input { 
     font-size: 30px;
    padding: 10px; 
} 
input {
     margin-top: 10px;
} 
a { 
    color: green; 
    font-size: 30px; 
} 
a:hover { 
    cursor: pointer; 
    color:blue; 
} 
button { 
    background-color: #4CAF50; 
    /* Green */ border: none; 
    color: white; 
    padding: 15px 32px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
}